{% extends 'sales/base.html' %}
{% load staticfiles %}
{% load paginate %}
{% load thumbnail %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
  .form-group label {
    font-weight: 800;
  }
</style>
{% endblock %}
{% block content %}
<!-- main_container starts here -->
<div class="main_container">
  <!-- heading_create starts here -->
  <div class="row marl">
    <div class="col-lg-12 text-right">
      <span class="d-inline"><a class="primary_btn" href="{% url 'interests:add_interest'%}"><i class="fa fa-plus"></i>
          Add New Interest</a></span>
    </div>
  </div>
  <div class="filter_row list_filter_row row marl">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form id="interests_filter" action="" method="POST">
            <div class="card-body">
              <div class="card-title">Filters</div>
              <div class="row marl">
                <div class="filter_col col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">EMAIL</label>
                    <input type="text" class="form-control" placeholder="Email" name="email"
                      value="{{request.POST.email}}">
                  </div>
                </div>
                <div class="filter_col col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">LISTING</label>
                    <input type="text" class="form-control" placeholder="Listing" name="listing"
                      value="{{request.POST.listing}}">
                  </div>
                </div>
                <div class="filter_col col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">BUILDING</label>
                    <input type="text" class="form-control" placeholder="Building" name="building"
                      value="{{request.POST.building}}">
                  </div>
                </div>
                <div class="filter_col col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">PHONE</label>
                    <input type="text" class="form-control" placeholder="Phone" name="phone"
                      value="{{request.POST.phone}}">
                  </div>
                </div>
                <div class="filter_col text-center col-3">
                  <div class="form-group buttons_row">
                    <button class="btn btn-primary save" type="submit">Search</button>
                    <a href="{% url 'interests:list' %}" class="btn btn-default clear">Clear</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- heading_create ends here -->
  <!-- filter_row starts here -->
  <div class="table_container_row row marl ">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card-title text-right">


            <span class="filter_toggle">
              <a href="#" class="primary_btn"><i class="fas fa-filter"></i></a>
            </span>

          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                {% if interest_obj_list|length > 0 %}
                <tr>
                  <th width="5%">Interest ID</th>
                  <th width="20%">Email</th>
                  <th width="15%">Lead</th>
                  <th width="15%">Listing</th>
                  <th width="15%">Building</th>
                  <th width="15%">Phone</th>
                  <th width="15%">Created On</th>
                </tr>
                {% endif %}
              </thead>
              <tbody>
                {% if per_page %}
                {% paginate per_page interest_obj_list %}
                {% else%}
                {% paginate 10 interest_obj_list %}
                {% endif %}
                {% for interest in interest_obj_list %}
                <tr style="text-align:center;">
                  <td>
                    {{interest.id}}
                  </td>
                  <td>
                    {% if interest.email %}
                    {{interest.email}}
                    {% else %}
                    Not Specified
                    {% endif %}
                  </td>
                  <td>
                    {% if interest.lead %}
                    {{interest.lead}}
                    {% else %}
                    Not Specified
                    {% endif %}
                  </td>
                  <td>
                    {% if interest.listing %}
                    {{interest.listing}}
                    {% else %}
                    None
                    {% endif %}
                  </td>
                  <td>
                    {% if interest.building %}
                    {{interest.building}}
                    {% else %}
                    None
                    {% endif %}
                  </td>
                  <td>
                    {% if interest.phone %}
                    {{interest.phone}}
                    {% else %}
                    None
                    {% endif %}
                  </td>
                  <td class="actions">
                    <a href="{% url 'interests:view_interest' interest.id %}" class="btn btn-info view" title="View" ><i
                        class="fas fa-eye"></i></a>
                    <a href="{% url 'interests:edit_interest' interest.id%}" class="btn btn-success edit" title="Edit"><i
                        class="fas fa-pencil-alt"></i></a>
                    {% if request.user == interest.created_by or request.user.role == "ADMIN" or request.user.is_superuser %}
                    <a href="{% url 'interests:remove_interest' interest.id %}"
                      class="btn btn-danger delete remove_account" title="Delete" ><i class="fas fa-trash-alt"></i></a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor%}
              </tbody>
            </table>
          </div>
          {%ifequal interest_obj_list|length 0 %}
          <h6 class="text-center">No Interest Records Found</h6>
          {%endifequal%}
          <div class="marl row text-center">
            {% show_pages %}
          </div>
        </div>
      </div>
    </div>
    <br clear="all">
  </div>
  <!-- filter_row ends here -->
</div>
<!-- main_container ends here -->



{%endblock%}
{% block js_block %}
<script type="text/javascript">
  search = "{{search}}"

  if (search == 'True') {
    $(".list_filter_row").show();
  }

</script>
{% endblock js_block %}
