{% extends 'sales/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block breadcrumb %}

{% block extralinks %}
<link rel="stylesheet" href="{% static 'css/bootstrap-suggest.css' %}">
<style>
  .opacity_block {
    opacity: 0.2;
  }
</style>
{% endblock extralinks %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'interests:list' %}">Interests</a></li>
    <li class="breadcrumb-item active">View</li>
  </ol>
</nav>

{%endblock%}

{% block content %}
<div class="main_container" id="maincontainer">
  <div class="overview_form_block row marl justify-content-center">
    <div class="col-md-8" id="opacity_block">
      <div class="card">

        <div class="card-body" id="datashow">
          <div class="card-title text-right">
            <h5>
              <span class="float-left title">Overview</span>
              <span class="" style="margin-top: 0px">
                <div class="dropdown buttons_row" style="width:auto; display:inline-block; left:0">
                  <button class="btn primary_btn dropdown-toggle" type="button" data-toggle="dropdown">Actions
                    <span class="caret"></span></button>
{#                  <ul class="dropdown-menu" style="width:fit-content; min-width:-webkit-fill-available; margin-top: 0;">#}
{#                    <li><a href="{% url 'interests:edit_interest' interest_record.id %}"#}
{#                        style="background:#17a2b8; color: white; font-weight: 600;">Edit</a></li>#}
{#                  </ul>#}
                </div>
              </span>
            </h5>
          </div>
          <div class="row marl">
            <div class="col-md-4">
              <div class="filter_col col-md-12" id="iname">
                <div class="form-group">
                  <label class="interest_field_label" for="id_lead" data-name="lead">Lead</label>
                  {% if interest_record.lead %}
                  <div class="interest_field" id="interest_lead" data-name="lead">{{ interest_record.lead }}</div>
                  {% else %}
                  <div class="interest_field">Not Specified</div>
                  {% endif %}
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="interest_field_label" for="id_contact" data-name="contact">Contact</label>
                  {% if interest_record.contact %}
                  <div class="interest_field" id="interest_contact" data-name="contact">{{ interest_record.contact }}</div>
                  {% else %}
                  <div class="interest_field">Not Specified</div>
                  {% endif %}
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="interest_field_label" for="id_opportunity" data-name="opportunity">Opportunity</label>
                  {% if interest_record.opportunity %}
                  <div class="interest_field" id="interest_opportunity" data-name="opportunity">{{ interest_record.opportunity }}</div>
                  {% else %}
                  <div class="interest_field">Not Specified</div>
                  {% endif %}
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="interest_field_label" for="id_team" data-name="matching_team">Matching Team</label>
                  {% if interest_record.interest_record.phone_raw_input %}
                  <div class="interest_field" id="interest_team" data-name="matching_team">{{ interest_record.matching_team }}</div>
                  {% else %}
                  <div class="interest_field">Not specified</div>
                  {% endif %}
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="interest_field_label" for="id_listing" data-name="listing">Listing</label>
                  {% if interest_record.listing %}
                  <div class="interest_field" id="interest_listing" data-name="listing">{{ interest_record.listing }}</div>
                  {% else %}
                  <div class="interest_field">Not Specified</div>
                  {% endif %}
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="interest_field_label" for="id_building" data-name="building">Building</label>
                  {% if interest_record.status %}
                  <div class="interest_field" id="interest_building" data-name="building">{{ interest_record.building }}</div>
                  {% else %}
                  <div class="interest_field">Not Specified</div>
                  {% endif %}
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="interest_field_label" for="id_source" data-name="name">Source</label>
                  {% if interest_record.source %}
                  <div class="interest_field" id="interest_source" data-name="name">{{ interest_record.source }}</div>
                  {% else %}
                  <div class="interest_field">Not Specified</div>
                  {% endif %}
                </div>
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="interest_field_label" for="id_website" data-name="name">Website</label>
                  {% if interest_record.website %}
                  <div class="interest_field" id="interest_website" data-name="name">{{ interest_record.website }}</div>
                  {% else %}
                  <div class="interest_field">Not Specified</div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-md-4">

              <div class="filter_col col-md-12">
                <div class="form-group">
                  {% if interest_record.address_line or interest_record.street or interest_record.city or interest_record.state or interest_record.postcode or interest_record.country %}
                  <label class="interest_field_label" for="id_address" data-name="name">Billing Address</label>
                  <div class="interest_field" id="interest_address" data-name="name">
                    {{interest_record.get_complete_address}}
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="filter_col col-md-12">
                {% if interest_record.description %}
                <div class="form-group">
                  <label class="interest_field_label" for="id_description" data-name="name">Description</label>
                  <div class="interest_field" id="interest_description" data-name="name">{{ interest_record.description }}</div>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="col-md-12">
              <div class="created_information">
                Created by <b>{{ interest_record.created_by }}</b> created on <b
                  title="{{ interest_record.created_on }}">{{ interest_record.created_on_arrow }}</b>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="overview_form_block row marl justify-content-center" id="loading_spinner"
      style="z-index: 10; left: 0; right: 0; vertical-align: middle; position: absolute; margin-top: 15%;">

      <div class="spinner-border text-primary" style="width: 5em; height: 5em;" role="status">
        <span class="sr-only">Processing File...</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_block %}
<script src="{% static 'js/calls.js' %}"></script>
<script src="{% static 'js/meetings.js' %}"></script>
<script type="text/javascript">
  $('#loading_spinner').hide()
</script>
<script src="{% static 'js/bootstrap-suggest.js' %}"></script>
<script>
  $('.mentions').suggest('@', {
    data: {{ users_mention| safe}},
    map: function (user) {
      return {
        value: user.username,
        text: '<strong>' + user.username + '</strong>'
      }
    }
 })
</script>
{% endblock js_block %}
